@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
/*html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  font-weight: 400;
  color: #fff;
}*/



.row {
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.section {
  background-color: #3D4067  ;     /*  #3D4067*/
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

header,
main,
footer {
  display: block;
  position: relative;
  z-index: 1;
}

header {
  padding: 48px;
}
@media (max-width: 440px) {
  header {
    padding: 48px 24px;
  }
}
header > h3 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 8px;
}
header > h4 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
}

main {
  -webkit-box-flex: 1;
          flex: 1;
  padding: 0 48px;
}
@media (max-width: 440px) {
  main {
    padding: 0 24px;
  }
}

footer {
  width: 100%;
  background-color: #25003e  ;     /*#524F81;  */
  padding: 16px;
  align-self: center;
  text-align: center;
  margin-top: 32px;
}
footer a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

form {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.label {
  color: rgba(226, 227, 232, 0.75);
  font-size: 16px;
}

small {
  display: none;
}
small.errorOnce {
  margin-top: 2px;
}

.form-item input[type="text"],
.form-item input[type="number"],
.form-item input[type="email"] {
  display: block;
  color: #E2E3E8;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #75759E;
  padding: 8px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.form-item small {
  /*letter-spacing: 1px;*/
}
.form-item i {
  font-size: 12px;
  color: red;
}

.box-item {
  height: 60px;
  margin-bottom: 16px;
}

.form-item-double {
  display: -webkit-box;
  display: flex;
}
.form-item-double .form-item {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
}
.form-item-double .form-item:nth-child(1) {
  padding-right: 16px;
}
.form-item-double .form-item:nth-child(2) {
  padding-left: 16px;
}

.form-item-triple {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 6px;
}
.form-item-triple .radio-label {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  text-align: left;
}
.form-item-triple .radio-label label {
  display: inline-block;
  vertical-align: middle;
}
.form-item-triple .form-item {
  -webkit-box-flex: 3;
          flex: 3 1 auto;
  text-align: center;
  margin: 0;
}
.form-item-triple .form-item label, .form-item-triple .form-item input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(226, 227, 232, 0.75);
  font-size: 16px;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(226, 227, 232, 0.75);
  font-size: 16px;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(226, 227, 232, 0.75);
  font-size: 16px;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(226, 227, 232, 0.75);
  font-size: 16px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(226, 227, 232, 0.75);
  font-size: 16px;
}

.submit {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px 48px;
  margin-top: 32px;
  border: 2px solid #75759E;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  background-color: #3d4067;
  /*background-color: #3d4067!important;*/
  color: white;
}
.submit:hover {
  background-color: #25003e;
  border: 2px solid #25003e;
}

.wave {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 300px;
  height: 1300px;
  margin-top: -600px;
  margin-left: -400px;
  background:     #25003e;    /*       #252E45;  */
  border-radius: 55%;
  -webkit-animation: shift 5s infinite linear;
          animation: shift 5s infinite linear;
  z-index: 0;
}

@-webkit-keyframes shift {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes shift {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
